.card {
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.card__photo {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: space-between;
  align-items: center;
}
.card__name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 29px;
}
.card__like-button {
  background: transparent url(../images/heart.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: 0.8s;
  flex-shrink: 0;
}
.card__like-button:hover {
  opacity: 0.5;
}
.card_background-color {
  background-image: url(../images/darkheart.svg);
}
.card__trash-button {
  background: transparent url(../images/Group.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
  transition: 0.8s;
  flex-shrink: 0;
  position: absolute;
  top: 15px;
  right: 15px;
}
.card__trash-button:hover {
  opacity: 0.5;
}
