.modal {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0px;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  visibility: hidden;
  align-items: center;
  justify-content: center;
  padding-left: 19px;
  padding-right: 19px;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  display: flex;
}

.modal__close {
  color: #ffffff;
  position: absolute;
  top: -50px;
  right: -50px;
  background-image: url(../images/plus.svg);
  transform: rotate(-45deg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  height: 40px;
  width: 40px;
  border: none;
}
.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 29.05px;
  color: black;
  margin: 0;
  margin-bottom: 54px;
  margin-top: 0px;
}
.modal__container {
  max-width: 430px;
  width: 100%;
  min-height: 323px;
  background-color: white;
  position: relative;
  border-radius: 10px;
  padding: 34px 36px;
  box-sizing: border-box;
}
.modal__preview-image {
  width: 433px;
  height: 540px;
}
.modal__container_type_preview {
  max-width: 75vw;
  max-height: 75vh;
  background: transparent;
  width: auto;
  height: auto;
  padding: 0;
}
.modal__container-text {
  line-height: 14.52px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
}

.modal__input {
  width: 100%;
  margin: 0 auto 30px auto;
  height: 27px;
  font-family: "Inter", sans-serif;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  line-height: 17px;
  font-size: 14px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__error {
  color: red;
}

.modal__input_type_error {
  border-bottom: 1px solid red;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__error_visible {
}
.modal__button {
  height: 50.15px;
  width: 100%;
  margin: auto;
  background-color: black;
  border-radius: 2px;
  color: white;
  font-family: "Inter", sans-serif;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.modal__button_disabled {
  background-color: gray;
}

.modal__button:hover {
  opacity: 0.8;
}

.modal_opened {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}

@media screen and (max-width: 545px) {
  .modal__close {
    right: 0px;
    width: 26px;
    height: 26px;
    top: -41px;
  }
  .modal__container {
    max-width: 282px;
    min-height: 322px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 22px;
    padding-left: 22px;
  }
  .modal__heading {
    font-size: 18px;
    line-height: 22px;
    max-width: 238px;
    margin-bottom: 75px;
  }
  .modal__save-button {
    max-width: 238px;
    min-height: 46px;
    font-size: 14px;
  }
  .modal__close_type_preview {
    width: 30px;
    height: 30px;
    right: 3.5px;
    top: -8px;
  }
  .modal__preview-image {
    max-width: 240px;
    max-height: 299px;
  }
}
